.maincountainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.firstdiv{
    width: 30%;
    height: 70%;
}
.firstdivicon{
    font-size: 60px;
}
.seconddiv{
    width: 40%;
    height: 70%;
}
.loginform{
    display: flex;
    flex-direction: column;
}
.seconddiv input{
width: 60%;

}
.buttonandlinkdiv{
    display: flex;
    align-items: center;
}
.buttonandlinkdiv button{
    width: 70px;
    height: 40px;
    background-color: rgb(64, 64, 248);
    border: none;
    border-radius: 30px;
    margin-left: 30px;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
}
.maindiv{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.subdiv{
    width: 50%;
    height: 50%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.subdivicon{
    font-size: 150px;
}
.subdiv button{
    width: auto;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.button1{
    background-color: red;
    color: black;
    font-size: 20px;
    font-weight: bold;  
}
.button2{
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: bold;  
}


