.maindivinuserview{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.usermain{
    width: auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 10px 15px gray;
    background-color: rgb(19, 218, 19);
    color: black;
}
.newclass{
    width: auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 10px 15px gray;
    background-color: rgb(247, 30, 30);
    color: rgb(255, 255, 255);   
}
.cartiteminuser{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}