
prodectlist{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.table{
    border: solid 1px black;
    text-align: center;
}
.table th{
    
    border-collapse: collapse;
}
.table td{
   vertical-align: middle;
}
.listimage{
    width: 100px;
    height: 80px;
}
.viewbutton{
    width: 50px;
    height: 30px;
    /* padding: 10px; */
    background-color: blue;
    color: white;
    border: none;
}
.dellitebutton{
    width: 70px;
    height: 30px;
    /* padding: 10px; */
    background-color: rgb(184, 8, 52);
    color: white;
    border: none;
}
