.accounticon{
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.cart{
    font-size: 40px;
    margin-right: 10px;
    color: black;
}
.navbardiv{
    
    padding: 10px;
    
}
.accountlink.active .accounticon {
    color: rgb(87, 15, 15);
}
.inputt{
    height: 30px;
}
.storename{
    color: black;
    text-decoration: none;
}
.button{
    height: 35px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 10px;
    
}
.cartlink.active .cart{
    color: rgb(87, 15, 15);
}
.storename{
    font-size:30px;
    font-weight: bold;
}
.nvaigatlinksdiv{
    align-items: center;
}
.nvaigatlinks {
    font-size:20px;
    font-weight: 500;
    margin: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
.nvaigatlinks.active{
    color: white;
}