
.payingform{
    width: 500px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.paydivmain{
    display: flex;
    align-items: center;
    justify-content: center;
}